
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{title}}</h1>
      <div id ="data-profile" *ngIf="user">
        <div class="avatar" >
          <img class="rounded-circle" alt="Generic placeholder image" width="170" height="170" src="{{url + 'get-imagen-user/' + user.imagen}}"
          *ngIf="user && user.imagen" />
    
          <img class="rounded-circle" alt="Generic placeholder image" width="170" height="170" src="./assets/user.png" 
          *ngIf="!user.imagen"/>
        </div>
        <div class="user-name">
          <p class="name">{{user.nombre + ' ' + user.apellido}} </p>
          <p class="nick">{{user.nick}}</p>
        </div>
        <div class="follow">
          <span class="badge badge-pill badge-secondary" *ngIf="following">
            Te sigue.
          </span>
          <button type="button" class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
            <i class="fas fa-user-check"></i> Seguir
          </button>
    
          <button type="button" class="btn btn-primary" *ngIf="following" (mouseover)="mouseEnter(user._id)" (mouseleave)="mouseLeave()"
            [class.btn-danger]="user._id == followUserOver" (click)="unfollowUser(user._id)">
    
            <span *ngIf="user._id == followUserOver; else siguiendo">
              <i class="far fa-times-circle"></i> Dejar de seguir
            </span>
            <ng-template #siguiendo>
              <span>
                <i class="far fa-check-circle"></i> Siguiendo
              </span>
            </ng-template>
          </button>
        </div>
    
        <div class="stats" *ngIf='stats'>
          <div class="following-data">
            <a [routerLink]="['/siguiendo', user._id, 1]">
              <span class="label-stats">
                Seguidos
              </span>
              <span class="number-stats">
                {{stats.following}}
              </span>
            </a>
    
          </div>
    
          <div class="following-data">
            <a [routerLink]="['/seguidores', user._id, 1]">
              <span class="label-stats">
                Seguidores
              </span>
              <span class="number-stats">
                {{stats.followed}}
              </span>
            </a>
    
          </div>
    
          <div class="following-data">
            <a [routerLink]="['/perfil', user._id]">
              <span class="label-stats">
                Publicaciones
              </span>
              <span class="number-stats">
                {{stats.publications}}
              </span>
            </a>
    
          </div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="user">
      <app-publications [user]="user._id" ></app-publications>
      </div>
    </div>

  </div>
</div>

<app-sidebar></app-sidebar>