<div class="container">
  <div class="row">
<div class="col-12">
<h1 class="mb-4 mt-4">{{title}}
  <button type="button" class="btn btn-primary" (click)="refresh($event)">Mostrar nuevas</button>

  </h1>
<div class="row">
<div class="col-12 col-md-4 mb-4" *ngFor="let publication of publications">
    <div id="publications">
      <div class="item-publication">
        <div class="card" style="width: 18rem;">
          <a href="#" class="list-group-item list-group-item-action">
    
            <img class="card-img-top" alt="Generic placeholder image" width="50" height="90" src="{{url + 'get-image-pub/' + publication.file}}"
            *ngIf="publication.file && showThisImage == publication._id" />
            <img class="card-img-top" alt="Generic placeholder image" width="50" height="140" src="./assets/user.png" *ngIf="!publication.file"
            />
<img src="{{url + 'get-image-pub/' + publication.file}}" alt="asdadadsadadsadad">
          </a>
          <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
          <div class="card-body">
            <div>
              <a class="card-title" [routerLink]="['/perfil', publication.user._id]">{{publication.user.nombre + ' '+ publication.user.apellido}}</a>
              &nbsp;|&nbsp;
              <span class="date">
                {{(publication.fecha |amFromUnix) | amLocale: 'es' | amTimeAgo}}
              </span>
            </div>
            <p class="card-text">{{publication.texto}}</p>
            <button type="button" class="btn btn-outline-danger">
            <i class="fas fa-heart"></i> Like</button>
              <!-- Button trigger modal -->
              <a type="button" class="btn btn-warning" data-toggle="modal" href="#exampleModalCenter{{publication._id}}" *ngIf="publication.user._id == identity._id">
              <i class="fas fa-trash-alt"></i>Borrar
              </a>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter{{publication._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">¿Seguro que la quieres borrar?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Si la borras no podrás recuperarla
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-danger" (click)="deletePublication(publication._id)" data-dismiss="modal">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
    
      </div>
    </div>

  </div>
</div>
<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
  <p>
    <button type="button" class="btn btn-info" (click)="viewMore()" *ngIf="!noMore">Ver más publicaciones</button>
  </p>
</div>


<app-sidebar (sended)="refresh($event)"></app-sidebar>

<div class="clearfix"></div>
</div>
</div>