<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-tabs" *ngIf = "identity">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            <i class="fas fa-home"></i> Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-list-alt"></i> Timeline
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-users"></i> Gente
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>


    <ul class="navbar-nav nav-tabs "*ngIf="!identity" >
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
          <i class="fas fa-sign-in-alt"></i> Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
          <i class="fas fa-folder-open"></i> Registro
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
