<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-tabs" *ngIf = "identity">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            <i class="fas fa-home"></i> Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">
            <i class="fas fa-list-alt"></i> Timeline
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/gente']" [routerLinkActive]="['active']">
          <i class="fas fa-users"></i> Gente
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>


    <ul class="navbar-nav navbar-right" *ngIf="!identity">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
          <i class="fas fa-sign-in-alt"></i> Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
          <i class="fas fa-folder-open"></i> Registro
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

  <ul class="navbar-nav navbar-right" *ngIf="identity">
      <li class="avatar">
        
      </li>

      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
        {{identity.nombre}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">
        <i class="fas fa-id-badge"></i> Mi perfil</a>
        <a class="dropdown-item" [routerLink]="['/mis-datos']" >
        <i class="fas fa-user"></i> Mis datos</a>
        <div class="dropdown-divider"></div>
        <a class="btn"  (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
      </div>
      </li>

    </ul> 


  </div>
</nav>

    <router-outlet></router-outlet>
