<div class="col-lg-8">
  <h1>{{title}}</h1>
<div class="people" *ngIf="followed">

    <!-- LISTADO -->
    <div *ngFor="let follow of followed" class="item-user">
      <ul class="list-group">
        <a [routerLink]="['/perfil', follow.user._id]" class="list-group-item list-group-item-action">

          <img class="rounded-circle" alt="Generic placeholder image" width="50" height="50" src="{{url + 'get-imagen-user/' + follow.user.imagen}}"
            *ngIf="follow.user.imagen" />
          <img class="rounded-circle" alt="Generic placeholder image" width="50" height="50" src="./assets/user.png" *ngIf="!follow.user.imagen"
          />
          <p> {{follow.user.nombre + ' ' + follow.user.apellido}} </p>
          <p>{{follow.user.nick}}</p>
        </a>

        <div class="pull-right" *ngIf="follow.user._id != identity._id">

          <button type="button" class="btn btn-success" *ngIf="follows.indexOf(follow.user._id) < 0" (click)="followUser(follow.user._id)">
            <i class="fas fa-user-check"></i> Seguir</button>

          <button type="button" class="btn btn-primary" *ngIf="follows.indexOf(follow.user._id)>= 0" (mouseover)="mouseEnter(follow.user._id)"
            (mouseleave)="mouseLeave(follow.user._id)" [class.btn-danger]="follow.user._id == followUserOver" (click)="unfollowUser(follow.user._id)">

            <span *ngIf="follow.user._id == followUserOver; else siguiendo">
              <i class="far fa-times-circle"></i> Dejar de seguir
            </span>
            <ng-template #siguiendo>
              <span>
                <i class="far fa-check-circle"></i> Siguiendo
              </span>
            </ng-template>
          </button>

        </div>
      </ul>


    </div>

  </div>

  <!-- PAGINATION -->
  <ul class="pagination justify-content-end">
    <li *ngIf="page > 1">
      <a class="page-link" [routerLink]="['/seguidores',userPageId , prev_page]"> Anterior</a>
    </li>
    <li *ngIf="pages != page">
      <a class="page-link" [routerLink]="['/seguidores',userPageId , next_page]"> Siguiente</a>
    </li>

  </ul>


  <app-sidebar></app-sidebar>

  <div class="clearfix"></div>
