<div id="publications">
  <div *ngFor="let publication of publications" class="item-publication">
    <div class="card" style="width: 18rem;">
      <a href="#" class="list-group-item list-group-item-action">

        <img class="card-img-top" alt="Generic placeholder image" width="50" height="90" src="{{url + 'get-imagen-user/' + user.imagen}}"
          *ngIf="publication.imagen" />
        <img class="card-img-top" alt="Generic placeholder image" width="50" height="140" src="./assets/user.png" *ngIf="!publication.imagen"
        />
      </a>
      <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
      <div class="card-body">
        <div>
          <span class="card-title">{{publication.user.nombre + ' '+ publication.user.apellido}}</span>
          &nbsp;|&nbsp;
          <span class="date">
            {{(publication.fecha |amFromUnix) | amLocale: 'es' | amTimeAgo}}
          </span>
        </div>
        <p class="card-text">{{publication.texto}}</p>
        <a href="#" class="btn btn-outline-danger">
          <i class="fas fa-heart"></i> Like</a>
      </div>
    </div>

  </div>
</div>
<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
  <p>
    <button type="button" class="btn btn-info" (click)="viewMore()" *ngIf="!noMore">Ver más publicaciones</button>
  </p>
</div>
